@import "src/scss/settings/_colors.scss";
@import "src/scss/settings/_fonts.scss";


.second {
  height: 95vh;
  display: flex;
  background:url("../../../assets/Background-Form.jpg") center/cover no-repeat ;

  .second__left {
    padding: 20px;
    margin-left: 50px;

    h3 {
      font-size: 36px;
      margin-top: 70px;
      margin-bottom: 50px;
      font-weight: bolder;
    }

    .second__left-inputs {
      display: flex;
      flex-direction: column;
      label{
        margin-right: 30px;
      }
    }

    button {
      background-color: transparent;
      width: 120px;
      height: 60px;
      margin-right: 30px;
      border: 1px solid $color-dark;
      margin-top: 300px;
    }
  }
}