@import "src/scss/settings/_colors.scss";
@import "src/scss/settings/_fonts.scss";


.thanks {
  height: 95vh;
  background: url("../../../assets/Background-Form.jpg") center/cover no-repeat;
  .thanks__left{
    width: 50vw;
    height:95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      text-align: center;
      font-size: 40px;
      line-height: 1.7;
      font-weight: lighter;
      letter-spacing: -0.8px;
      color: $color-dark;
      margin-bottom: 20px;
    }
  }
}