@import "src/scss/settings/_colors.scss";
@import "src/scss/settings/_fonts.scss";

.contact {
  width: 100%;
  display: flex;

  .contact__image {
    width: 100%;
    opacity: 0.4;
  }

  .contact__form {
    margin-left: -40%;
    z-index: 1;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
      text-align: center;
      font-size: 38px;
      letter-spacing: -0.76px;
      color: $color-dark;
      margin-bottom: 30px;
      margin-right: 100px;
    }

    &-decoration {
      margin-right: 100px;
      width: 50%;
    }

    &-container {
      margin-top: 50px;

      .contact__form-input {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        line-height: 2;

        .contact__form-row {
          display: flex;

          input {
            border: none;
            border-bottom: 1px solid $color-dark;
            color: $color-grey;
            opacity: 0.5;
          }
        }
      }

      .contact__form-textarea {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

        label {
          padding: 3px;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        textarea {
          border: none;
          border-bottom: 1px solid $color-dark;
          color: $color-grey;
          opacity: 0.5;
          height: 95px;
          width: 500px;
          &::placeholder{
            line-height: 1.7;
            ;
          }
        }
      }

      .contact__form-button {
        margin-top: 20px;
        margin-left: 350px;
        padding: 13px 53px;
        border: 0.75px solid $color-dark;
        background: none;
      }
    }
}
}