@import "src/scss/settings/_colors.scss";
@import "src/scss/settings/_fonts.scss";

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  .steps__upper {
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 10px;
      font-size: 38px;
      letter-spacing: -0.76px;
      color: $color-dark;
    }
    &-decoration{
      margin-top: 10px;
    }
  }

  .steps__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-primary;
    padding: 63px 0;

    &-box {
      margin: 0 50px;
      color: $color-dark;

      img {
        margin: 10px;
      }

      h4 {
        font-size: 18px;
        padding: 5px;
      }

      p {
        font-size: 16px;
        line-height: 1.1;
        padding: 3px;
      }
    }
  }
  .steps__button{
    margin-top: 35px;
    button{
      font-size: 36px;
      padding: 13px 93px;
      background-color: transparent;
      text-transform: uppercase;
      color: $color-dark;
      border: 1px  solid $color-dark;;
      font-family: $font-base;
      font-weight: lighter;
    }
  }
}